<html>

<meta>
<title>swoole view</title>
</meta>

<body>

<table border="1" padding="1">
	<tr>
		<th colspan="2"><label>User Details</label></th>
		
	</tr>
	<tr>
		<th><label>Name</label></th>
		<td style="color:green"><%= name %></td>
	</tr>
	<tr>
		<th><label>Last Name</label></th>
		<td style="color:green"><%= fname %></td>
	</tr>
	<tr>
		<th><label>Email</label></th>
		<td style="color:green"><%= email %></td>
	</tr>
	<tr>
		<th>Action</th>
		<td style="color:blue"><a href = "/user/">Back</a></td>
	</tr>
</table>
</body>
</html>