<html>

<meta>
<title>node js view</title>
</meta>

<body>

<table border="1" padding="1">
	
	<tr>
		<th><label>Name</label></th>
		<td><%= name %></td>
	</tr>
	<tr>
		<th><label>Last Name</label></th>
		<td><%= fname %></td>
	</tr>
	<tr>
		<th><label>Email</label></th>
		<td><%= email %></td>
	</tr>
	<tr>
		<td>Action</td>
		<td><a href = "/user/">Back</a></td>
	</tr>
</table>
</body>
</html>