<html>

<meta>
<title>swoole view</title>
</meta>

<body>

<table border="1">
<tr>
	<th colspan="5">Register User</th>
</tr>
<form method="post" action="/user/submit">
	<tr>
		<th><label>Name</label></th>
		<td><input type="text" name="name" class="name" value="" /></td>
	</tr>
	<tr>
		<th><label>Last Name</label></th>
		<td><input type="text" name="fname" class="fname"value="" /></td>
	</tr>
	<tr>
		<th><label>Email</label></th>
		<td><input type="text" name="email" class="name" value="" /></td>
	</tr>
	<tr>
		<th><label>Password</label></th>
		<td><input type="password" name="password" class="password" value="" /></td>
	</tr>
	
	<tr>
		<td><input type="submit" name="submit" class="name" value="Submit" /></td>
		<td><a href="/user/auth/">Already have account</a></td>
	</tr>
</form>
</table>
</body>
</html>